<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<bean class="com.esra.springdemo.BenzinliMotor" id="benzinli" />

	<bean class="com.esra.springdemo.Mercedes" id="mercedes200">

		<constructor-arg ref="benzinli" />

		<!--const olarak BENZİNLİ nesnesine geç dedik -->

	</bean>

	<bean class="com.esra.springdemo.DizelMotor" id="dizel190" />

	<bean class="com.esra.springdemo.Mercedes" id="mercedes190d">

		<constructor-arg ref="dizel190" />

		<!--const olarak DİZEL nesnesine geç dedik -->


	</bean>

</beans>