<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<context:property-placeholder
		location="classpath:cars.properties" />

	<!-- src dizini classpath'in içerisinde -->


	<bean id="mercedes200" class="com.esra.springdemo.Mercedes" >

		<property ref="benzinli" name="motor" />

		<property name="model" value="${tamisim.clk200}" />

		<!-- bir şeye referans yapıyorsak $ görürüz -->


	</bean>

	<bean class="com.esra.springdemo.BenzinliMotor" id="benzinli" />

</beans>